In [3]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot
import nltk
import string
import os

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /home/denis/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/denis/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
df = pd.read_json('../data/data.json')
df.head()

        id  executable_name                                   browser_title
0  4174836        Проводник
1  4174903          Блокнот                                          Дерево
2  4174904    Google Chrome                  [S22]DB: Lab 9 - Google Chrome
3  4174774  WinRAR archiver
4  4174962    Google Chrome  KarinaTyulebaeva/DataBase_labs - Google Chrome

In [5]:
def preprocess(text):
    """
    Remove all punctuation and stopwords and returns a list of the cleaned text
    """
    nopunc = [char for char in text if char not in string.punctuation]

    nopunc = ''.join(nopunc).lower()

    return ' '.join([word for word in nopunc.split() if word.lower() not in nltk.corpus.stopwords.words('english') and word.isalpha()])
df["browser_title"] = df["browser_title"].apply(preprocess)
df.head()

        id  executable_name                               browser_title
0  4174836        Проводник
1  4174903          Блокнот                                      дерево
2  4174904    Google Chrome                           lab google chrome
3  4174774  WinRAR archiver
4  4174962    Google Chrome  karinatyulebaevadatabaselabs google chrome